/* h1 {
  font: sans-serif;
  font-size: 35px;
}

header {
  margin-top: 400px;
}

@media only screen and (min-width: 768px) {
  header h2, header h1 {
    display: none;
  }
  
  header {
    margin-top: 300px;
  }

  h1 {
    font-size: 40px;
  }
} */
