* {
  box-sizing: border-box;
}


body {
  text-align: center;
  background-color: #edf2f4;
  color: #2B2D42;
}

a:link {
  color: #2B2D42;
  /* background-color: dimgray; */
}

a:visited {
  color: #50020F;
}

a:hover {
  color: #556177;
  background-color: WHITE;
}

a:active {
  color: #ef233c;
  /* background-color: white; */
}
        

section {
  /* background-color: lightgrey; */
  padding: 30px 15px;
}

section:nth-child(even) {
  /* background-color: #edf2f4; */
color: white;
}


@media (prefers-reduced-motion: no-preference) {
        
        }