/* * {
  box-sizing: border-box;
}


body {
  text-align: center;
  background-color: #8d99ae;
  color: #2B2D42;
}

a {
    text-decoration: none;

}
a:link {
  color: #2B2D42;
  background-color: dimgray;
  
}

a:visited {
  color: #50020F;
}

a:hover {
  color: #edf2f4;
  background-color: #8d99ae;
  padding: 5px;
  border-radius: 10px;
}

section > a:hover {
  color: #d90429;
  text-decoration: underline;

}
a:active {
  color: #ef233c;
  background-color: white;
}
        

section {
  background-color: lightgrey;
  background-color: #edf2f4;
  padding: 30px 15px;
  margin: 10px;
  border: 3px outset #edf2f4;
  border-radius: 7px;
}

section:nth-child(even) {
  background-color: #edf2f4;
}


@media (prefers-reduced-motion: no-preference) {
        
        } */
