ul {
  list-style: none;
  width: 100%;
  background-color: #edf2f4;
  padding: 30px 15px;
  margin-bottom: 10px;
  border: 3px outset #edf2f4;
  border-radius: 10px;
}

li {
  margin-right: 10px;
  font-size: 18px;
  padding: 7px 0;
}

.container  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  flex-grow: 1;  
  height: auto;
}

img {
  width: 125px;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 15px 0 0 0;
  background-color: #8D99AE;
}

.nav-header {
  display: none;
}

@media only screen and (min-width:768px) {

li {
  padding-right: 20px;
  display: inline;
}

.nav-header {
  display: inline;
}


 .item {
  flex-grow: 1;  
} 

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}


.nav-item {
  display: inline-block;
  margin: 0;
  padding-right: 10px;

}
}